{% extends 'admin/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
sty
 <div class="container ">
     <div class="postbox">
        <div class="d-flex justify-content-center">
            {% for message in messages %}
              <h5 class="alert alert-{{ message.tags }}">{{  message }}</h5>
            {% endfor %}
          </div>
         <div class="formheader ">
             <h5 class="text-center">Create Post </h5>
         </div>
         
         <form class="form" method="POST">
             {% csrf_token %}
        
             <div class="d-flex align-item-center">
              {{ form.media }}
              
             </div> 
             {{ form| crispy }}
            
 
            <input type="submit" style="background-color: skyblue;" class="btn   mb-4" value="Create Post">
            <div class="text-center">  
            </div>
          </form>
     </div>
 </div>

 
 {% endblock %}